pkgbase = python-pypdfium2
	pkgdesc = An ABI-level Python 3 binding to PDFium (unofficial AUR package)
	pkgver = 5.8.0
	pkgrel = 1
	url = https://github.com/pypdfium2-team/pypdfium2
	arch = x86_64
	license = Apache-2.0
	license = BSD-3-Clause
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-packaging
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = python-pillow: support PIL image objects for raster graphics
	optdepends = python-numpy: support numpy arrays for raster graphics
	optdepends = python-opencv: save with pypdfium2's numpy adapter in the rendering CLI
	optdepends = python-tabulate: prettier CLI table output
	noextract = pdfium-linux-x64-7825.tgz
	source = https://files.pythonhosted.org/packages/source/p/pypdfium2/pypdfium2-5.8.0.tar.gz
	source = ctypesgen::git+https://github.com/pypdfium2-team/ctypesgen#commit=85eb5bd446f63a2a0373831dbf4dedc854d5bd40
	sha256sums = 049397c647e50f83115ee951c49394dab9e9ba52ebdd5a11ab1109390eb3d34e
	sha256sums = SKIP
	source_x86_64 = pdfium-linux-x64-7825.tgz::https://github.com/bblanchon/pdfium-binaries/releases/download/chromium%2F7825/pdfium-linux-x64.tgz
	sha256sums_x86_64 = ae0e276bcdf276dca2746adb4780f79949620e5c655973ca252a3994bc516a13

pkgname = python-pypdfium2
